@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;

*:focus {
  outline: none;
}

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F6F8FF;
  color: #262626;
}

.modal-shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.content {
  height: 100vh;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 100%;
  padding: 40px 10px 30px 10px;
  background: #ffffff;
  border-right: 1px solid #dbdbdb;
  transition: 0.3s;
}

.sidebar-header {
  width: 100%;
  margin-bottom: 44px;
}

.logo-icon {
  display: none;
  font-size: 28px;
  height: 35px;
  width: 51px;
  text-align: center;
}

.logo-img {
  margin-left: 14px;
  height: 32px;
}

.sidebar button>span {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 12px;
  border-radius: 24px;
  line-height: 1;
}

.sidebar button:hover>span {
  background: #f2f2f2;
}

.sidebar button:hover>span :is(i, img) {
  scale: 1.05;
}

.sidebar button>span>span {
  transition: 0.3s;
}

@media (width < 1024px) {
  .logo-img {
    display: none;
  }

  .logo-icon {
    display: block;
  }

  .sidebar {
    width: 72px;
  }

  .sidebar button>span {
    width: 50px;
  }

  .sidebar button>span>span {
    opacity: 0;
    visibility: hidden;
  }

  #crypto-modal {
    left: 180%;
  }
}

.sidebar button i {
  position: relative;
  font-size: 28px;
  transition: 0.2s;
}

.sidebar button img {
  width: 28px;
  height: 28px;
  transition: 0.2s;
}

.sidebar button i>span {
  display: grid;
  place-items: center;
  height: 20px;
  padding: 0 4px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  right: -10px;
  border: 1px solid #ffffff;
  background: #ff2f40;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar button i>em {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  top: 2px;
  right: -1px;
  border: 1px solid #ffffff;
  background: #ff2f40;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar button span {
  font-size: 17px;
}

.sidebar>nav {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}



.comment-input::placeholder {
  color: gray;
  font-size: 0.875rem;
  line-height: 1.25rem;
}


@media (width < 768px) {

  .sidebar {
    height: fit-content;
    width: 100%;
    padding: 0;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.20);
    z-index: 10;
    top: initial;
    bottom: 0;
    left: 0;
  }

  .sidebar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sidebar-header {
    display: none;
  }

  nav>button:nth-child(3) {
    display: none;
  }

  nav>button:nth-child(6) {
    display: none;
  }

  nav>button:nth-child(8) {
    display: none;
  }
}


/* More Action CSS */

.cypto-modal-slideup-animation {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform-origin: bottom;
  animation: slideup 0.2s both;
}

.cypto-modal-slidedown-animation {
  transform-origin: bottom;
  animation: slidedown 0.2s both;
  display: flex;
}

@keyframes slideup {
  0% {
    scale: 0 0.005;
  }

  33% {
    scale: 1 0.005;
  }

  66%,
  100% {
    scale: 1 1;
  }
}

@keyframes slidedown {
  0% {
    scale: 1 1;
  }

  33% {
    scale: 1 0.005;
  }

  66%,
  100% {
    scale: 0 0;
  }
}

.input {
  background-color: #e7e7e7;
  appearance: none;
  border: none;
  cursor: initial;
  outline: none;
  height: 2.5rem;
  width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 7px;
}

.input::placeholder {
  font-weight: 400;
  letter-spacing: 1px;
}

.box {
  position: relative;
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0px 20px;
}

.box .list {
  position: relative;
  display: flex;
  padding: 10px;
  background: #F2EDEB;
  border-radius: 10px;
  margin: 10px 0px;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}


.box .list:hover {
  background-color: white;
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1.15) translateX(30px) translateY(-15px);
  z-index: 1000%;
}

.box .list .imgBx {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}

.box .list .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.box .list .content {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  color: gray;
}

.box .list .content .rank {
  position: absolute;
  right: -50px;
  color: #03a9f4;
  transition: 0.5s;
  font-size: 2em;
  font-weight: 600;
}

.box .list:hover .content .rank {
  right: 20px;
}

.box .list .content small {
  opacity: 0.25;
  font-weight: 500;
}

.box .list .content h4 {
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;
}

.box .list .content p {
  font-size: 0.75em;
  transition: 0.5s;
}


.box .list:hover .content h4,
.box .list:hover .content p {
  color: #333;
}


.sidebar-reducer .sidebar {
    width: 72px;
  }
  .sidebar-reducer .sidebar button span {
    width: 50px;
  }
  .sidebar-reducer .sidebar button span span {
    opacity: 0;
    visibility: hidden;
  }
  .sidebar-reducer .sidebar .logo-img {
    display: none;
  }
  .sidebar-reducer .sidebar .logo-icon {
    display: block;
  }
  .sidebar-reducer #crypto-modal {
    left: 180%;
  }

  .hide-searchBar {
    visibility: hidden;
    width: 0%;
  }
  .hide-searchBar .box .list {
    display: none;
  }

  .visible-searchBar {
    visibility: visible;
    box-shadow: 17px 26px 17px -5px rgba(0, 0, 0, 0.1);
    width: 30%;
  }

  .create-post-modal-img {
    height: 100% !important;
    width: 90%;
  }

  .post-section {
    justify-content: flex-start;
    flex-direction: row;
    gap: initial;
  }

  .post-section-input::-moz-placeholder {
    padding: 0;
    font-size: 5px;
  }

  .post-section-input:-ms-input-placeholder {
    padding: 0;
    font-size: 5px;
  }

  .post-section-input::placeholder {
    padding: 0;
    font-size: 5px;
  }/*# sourceMappingURL=custom.css.map */
